Library/
Temp/
*.csproj
*.sln
*.suo
.vs/Poss/v15/sqlite3/storage.ide
*.collabignore
.vs/Poss/v15/
*.BAK
Assets/modules/Possibilities/AI/Backups/
*.pl~
/Assets/modules/Possibilities/AI/*.BAK
.BAK.meta
/Debug
*.rar
/obj
Logs/
.idea/
*.blend1
Originals/Docs/~$ents Phase 1.docx
Assets/UnityEngine.AssetGraph/Cache/
Assets/ResonaiDownloads/
Builds/
Assets/Plugins/Editor/JetBrains/JetBrains.Rider.Unity.Editor.Plugin.Repacked.dll
Assets/Plugins/Editor/JetBrains/
Assets/ResonaiDownloads.meta
Assets/Plugins/Editor/JetBrains.meta
Assets/Oculus/
.vs/